{% extends "base.html" %}
{% load static %}
{% block title %}
    الصفحة الرئيسة
{% endblock title %}
{% block content %}
    <div class="container">
        <a class="cart" href="{% url "cart" %}"><i class="fas fa-cart-plus"></i></a>
        <div class="flex">
            <div class="menu" data-type=".chicken_sandwich">
                <img src="{% static "images/edit1.jpeg" %}" alt=""/>
            </div>
            <div class="menu" data-type=".burger_sandwich">
                <img src="{% static "images/edit2.jpeg" %}" alt=""/> {# فرايز#}
            </div>
            <div class="menu" data-type=".fries">
                <img src="{% static "images/edit3.jpeg" %}" alt=""/>
            </div>
            <div class="menu" data-type=".four">
                <img src="{% static "images/edit4.jpeg" %}" alt=""/>
            </div>
            <div class="menu" data-type=".four">
                <img src="{% static "images/edit4.jpeg" %}" alt=""/>
            </div>
            <div class="menu" data-type=".four">
                <img src="{% static "images/edit4.jpeg" %}" alt=""/>
            </div>
        </div>
        <div class="items chicken_sandwich">
            {% for menu in chicken %}
                <form method="post" class="flex-item">
                    {% csrf_token %}
                    <div class="item">
                        <input
                                class="title"
                                type="text"
                                value="{{ menu.name }}"
                                name="name"
                                readonly
                        />
                        <input type="text" name="price" value="{{ menu.price }}" hidden/>
                        <p class="details">
                            طبقة من صدور التجاد المقرمشنة وطبقة من بجر البيف المشوي مع صوض
                            الكاوبوي والشير ويضاف شرالح الخس والطماطم الخيار المخل
                        </p>
                    </div>
                    <div class="quantity">
                        <div class="add"><i class="fas fa-plus"></i></div>
                        <input type="text" class="show" value="1" name="quantity" readonly/>
                        <div class="minus"><i class="fas fa-minus"></i></div>
                    </div>
                    <button>اضافة</button>
                </form>
            {% endfor %}
        </div>
        <div class="items burger_sandwich">
            {% for menu in meat %}
                <form class="flex-item">
                    <div class="item">
                        <input
                                class="title"
                                type="text"
                                value="{{ menu.name }}"
                                name="name"
                                readonly
                        />
                        <input type="text" name="price" value="{{ menu.price }}" hidden/>
                        <p class="details">
                            طبقة من صدور التجاد المقرمشنة وطبقة من بجر البيف المشوي مع صوض
                            الكاوبوي والشير ويضاف شرالح الخس والطماطم الخيار المخل
                        </p>
                    </div>
                    <div class="quantity">
                        <div class="add"><i class="fas fa-plus"></i></div>
                        <input type="text" class="show" value="1" name="quantity" readonly/>
                        <div class="minus"><i class="fas fa-minus"></i></div>
                    </div>
                    <button>اضافة</button>
                </form>
            {% endfor %}
        </div>
        <div class="items fries">
            {% for menu in fries %}
                <form class="flex-item">
                    <div class="item">
                        <input
                                class="title"
                                type="text"
                                value="{{ menu.name}}"
                                name="name"
                                readonly
                        />
                        <input type="text" name="price" value="{{ menu.price }}" hidden/>
                        <p class="details">
                            طبقة من صدور التجاد المقرمشنة وطبقة من بجر البيف المشوي مع صوض
                            الكاوبوي والشير ويضاف شرالح الخس والطماطم الخيار المخل
                        </p>
                    </div>
                    <div class="quantity">
                        <div class="add"><i class="fas fa-plus"></i></div>
                        <input type="text" class="show" value="1" name="quantity" readonly/>
                        <div class="minus"><i class="fas fa-minus"></i></div>
                    </div>
                    <button>اضافة</button>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
